<script id="rangel-template" type="text/x-handlebars-template">
    <div class="row correos-h">
        <div class="col-md-12">
            <h2 class="label-purple clearfix">
                <span>Rangel:</span>
                <a href="\{{ trackerWebsite }}" target="_blank" rel="noreferrer">
                    <i class="fa fa-external-link"></i>
                </a>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered break-strong">
                <tr>
                    <td style="width: 40%">
                        <strong>Estado:</strong> \{{HelperCapitalize information.Estado }}
                    </td>
                    <td style="width: 40%">
                        <strong>Data da Remessa:</strong> \{{HelperDate information.DataRemessa}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Referencia:</strong> \{{information.ReferenciaCliente }}
                    </td>
                    <td>
                        <strong>No Guia:</strong> \{{information.NumGt }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Localidade:</strong> \{{HelperCapitalize information.LocalidadeDestinatario }}
                    </td>
                    <td>
                        <strong>Destinatário:</strong> \{{HelperCapitalize information.NomeDestinatario }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    \{{#if states}}
    <div class="row">
        <div class="col-md-12">
            <h3><span class="label label-default">Estados:</span></h3>

            <div class="result-details">
                <dl class="des-block">

                    \{{#each states as |item|}}
                    <dd class="\{{HelperState item.state @first}}"><i></i>
                        <div class="track-news clearfix">
                                <span class="date" data-toggle="tooltip" data-placement="top" title="\{{HelperDateWithHours item.date }}">
                                   \{{HelperFromNow item.date }}
                                </span>
                            <p><strong>\{{HelperCapitalize item.state }}</strong>
                        </div>
                    </dd>
                    \{{/each}}
                </dl>
            </div>

        </div>
    </div>
    \{{/if}}

</script>